body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: rgb(80, 69, 234);
    color: white;
    height: 10vh;
    display: flex;
    
}
.nav{
   width: 70%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
 
}
.nav-heading, .cart-btn{
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: all linear 0.3s;
}
.nav-heading:hover, .cart-btn:hover{
  transform: scale(1.05);
}
.items{
    margin-top: 2rem;
    display: grid;
    place-items: center;
}
.single-item{
    width: 70%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(241, 239, 239);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 5px 2px  rgb(255, 254, 254);
}
.item-description{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.btn{
  border: none;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
.btn:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.number{
    display: grid;
    place-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(49, 181, 84);

 
    
}
.icons{
   font-size: 1.5rem;
   color: rgb(49, 181, 84);
}