:root{
    --primary-color : rgb(49, 181, 84);
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: rgb(80, 69, 234);
    color: white;
    height: 10vh;
    display: flex;
    
}
.nav{
   width: 70%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
 
}
.nav-heading, .cart-btn{
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: all linear 0.3s;
}
.nav-heading:hover, .cart-btn:hover{
  transform: scale(1.05);
}
.items{
 

    margin: 2rem ;
    display: grid;
    place-items: center; 

}
.title{
    font-size: 2rem;
    margin: 1rem 0;
}
.total{
    border-top: 2px solid var(--primary-color);
    padding-top: 1rem;
    width: 70%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.4rem;
    display: flex;
   justify-content: space-between;
}
.clear-cart{
    
    border: none;
    text-align: center;
   
   
}
.clear-cart>button{
 padding: 0.25rem 1rem;
 font-size: 1.2rem;
 background-color: var(--primary-color);
 border: none;
 border-radius: 0.3rem;
 box-shadow: 0 0 5px 0 var(--primary-color) ;
 cursor: pointer;
 color: white;
 transition: all linear 0.15s;
}
.clear-cart>button:hover{
    transform: scale(1.06);
}
.single-item{
    width: 70%;
    margin-top: 1rem ;
    display: flex;
    justify-content: space-between;
    background-color: rgb(241, 239, 239);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 5px 2px  rgb(255, 254, 254);
}
.item-description{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.item-description>img{
    width:100px;
}
.btn{
  border: none;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
.btn:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.number{
    display: grid;
    place-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(49, 181, 84);

 
    
}
.icons{
   font-size: 1.5rem;
   color: var(--primary-color);
}